@font-face {
  font-family: "RobotoLightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoBlack";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

footer,
.hero {
  background: #1f2937;
}

h1 {
  font-size: 48px;
  font-family: RobotoBlack;
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}

h3 {
  color: #f9faf8;
  font-size: 24px;
  font-family: RobotoRegular;
  margin: 0;
}

footer {
  padding: 30px 0;
  text-align: center;
}

button {
  background: #3882f6;
  border-radius: 5px;
  padding: 4px 20px;
  border: none;
  color: #f9faf8;
  font-size: 18px;
  font-family: RobotoRegular;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 160px;
}

.header-logo {
  flex: 1;
}

.nav-bar,
.header-links,
.motivation,
.call-to-action {
  display: flex;
  flex-direction: row;
}

.hero-content {
  display: flex;
  flex-direction: row;
  padding: 60px 0 100px;
}

.hero-main-info {
  text-align: left;
  padding: 0 80px;
}

.header-links {
  gap: 20px;
  margin: 10px 10px;
}

.header-link {
  text-decoration: none;
}

.header-link,
.hero-secondary,
.cta-info {
  color: #e5e7eb;
  font-size: 18px;
  font-family: RobotoLigh;
}

.hero-secondary,
.cta-info {
  margin-top: 0;
}

.hero-image {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

.motivation {
  padding: 0 160px 100px;
  gap: 20px;
  justify-content: center;
}

.motivation-heading {
  font-family: RobotoBlack;
}

.motivation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
}

.motivation-img {
  width: 200px;
  height: auto;

  border-radius: 10%;
  margin: 0 auto;
}

.subtext {
  color: #1f2937;
  font-size: 14px;
  text-align: center;
  font-family: RobotoLigh;
  margin-top: 6px;
}

.quote-section {
  background: #e5e7eb;
  padding: 100px 140px;
}

.quote {
  font-weight: 100;
  font-family: RobotoLightItalic;
  text-align: start;
}

.quote-autor {
  font-family: RobotoBlack;
  text-align: end;
}

.call-to-action {
  background: #3882f6;
  justify-content: space-between;
  border-radius: 5px;
  margin: 80px 160px;
  padding: 40px 80px;
  text-align: start;
}

.cta-button {
  border: 2px solid #f9faf8;
  align-items: center;
}
